@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

[dir="rtl"] table {
  direction: rtl;
}

[dir="rtl"] .list-decimal {
  padding-inline-start: 1.25rem;
  padding-inline-end: 0;
}

[dir="ltr"] .list-decimal {
  padding-inline-start: 1.25rem;
}
